* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
*{
    margin: auto;
}
.head {
    background: black;
    font-family: 'Exo 2', sans-serif;
    color: aliceblue;
    display: grid;
    grid-template-columns: minmax(auto, 1000px) 1fr;
    grid-template-rows: 50px auto 100px;
    max-width: 960px;
    height: 9vh;
    min-height: 50px;
    min-width: 1349px;
    padding: 1rem;
}
.dropdown {
    font-family: 'Exo 2', sans-serif;
    color: aliceblue;
    display: grid;
    margin-right: -7cm;
    margin-top: -60px;
    font-size: 30px;
    position: static;
}
.icon {
    position: absolute;
    top: 11px;
    left: 1rem;
}
.titulo {
    margin-left: 35px;
    margin-top: -3px;
    }
    *, ::after, ::before {
      box-sizing: border-box;
    }
    a:hover {
      color: #fff;
    }
    a {
      color: #fff;
    }
    [role="button"] {
      cursor: pointer;
    }
    .head {
      font-family: 'Exo 2', sans-serif;
      color: aliceblue;
    }
    body {
      font-family: var(--bs-body-font-family);
      font-size: var(--bs-body-font-size);
      font-weight: var(--bs-body-font-weight);
      line-height: var(--bs-body-line-height);
      color: var(--bs-body-color);
      text-align: var(--bs-body-text-align);
      -webkit-text-size-adjust: 100%;
}
.info {
    position: relative;
    display: grid;
    margin-top: -3px;
}
h1 {
    font-family: 'Exo 2', sans-serif;
    color: black;
    max-width: 1000px;
    margin-left: 170px;
    margin-right: 100px;
    font-size: 2.5rem;
    line-height: 1;
    text-align: center;
    padding: 5px;
}
h2 {
    font-family: 'Exo 2', sans-serif;
    color: black;
    max-width: 1000px;
    margin-left: 170px;
    margin-right: 100px;
    font-size: 4rem;
    line-height: 5;
    text-align: center;
    padding: 5px;
}
h3 {
    color: white;
    max-width: 1000px;
    font-size: 15px;
    line-height: 5;
    text-align: center;
    padding: 5px;
}
h4 {
    font-family: 'Exo 2', sans-serif;
    color: black;
    max-width: 1000px;
    margin-left: 1px;
    margin-right: 100px;
    font-size: 20px;
    line-height: 1;
    text-align: left;
    padding: 5px;
}
.rate {
    font-family: 'Exo 2', sans-serif;
    font-size: 90px;
}
.items {
    background-color: lavender;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    display: grid;
    color: dodgerblue;
}
.parrafo {
    font-family: monospace;
    color: darkslategray;
    text-align: center;
}
.pnav {
    color: rgb(27, 29, 29);
    max-width: 1000px;
    margin-left: 250px;
    margin-right: 10px;
    font-size: 25px;
    padding: 5px;
    text-align: justify;
}
.p {
    color: rgb(27, 29, 29);
    max-width: 1000px;
    font-size: 25px;
    padding: 5px;
    text-align: center;
    margin-block-end: 5cm;
}
.navbar-brand {
    margin-left: 0px;
}
.img {
    background: white;
}
body {
    background: linear-gradient(white,rgb(196, 196, 255),rgb(130, 130, 255),rgb(51, 51, 255),black)
}
.row g-0 {
    width: 50%;
    margin-left: -1cm;
    margin-right: -3ch;
    position: static;
    text-align: right;
}
.card mb-3 {
    position: static;
}
.footer {
    color: black;
    background: black;
}
.active {
    font-weight: bold
}
button {
    color: white;
}
.yt {
    position: relative;
    margin: 100px;
    margin-left: 400px;
}