:root {
    --primary-color:  #C0C0C0
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    line-height: 2cm;
    word-spacing: 2cm;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    line-height: 2cm;
    word-spacing: 2cm;
    text-align: right;
    color: var(--primary-color);
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    line-height: 2cm;
    word-spacing: 2cm;
    text-align: center;
    color: grey;
}
h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    line-height: 2cm;
    text-align: center;
}
.container {
    padding: 50px;
}
.services__header {
    padding: 1cm;
}
.buttons {
        font-family: monospace;
        font-size: x-large;
        word-spacing: 1cm;
        text-align: center;
    }
    p {
        font-family: monospace;
        font-size: x-large;
        text-align: center;
        padding: 100px;
        margin: 10px;
    
    }
    button {
        font-family: monospace;
        font-size: x-large;
        text-align: center;
        padding: 10px;
        margin: 10px;
        background-color: aqua;
    }
    .icono {
        width: 100px;
    }
.obra {
    width: 500px;
}
