* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
*{
    margin: auto; 
}
.head {
    background: black;
    font-family: 'Exo 2', sans-serif;
    color: aliceblue;
    display: grid;
    grid-template-columns: minmax(auto, 1000px) 1fr;
    grid-template-rows: 50px auto 100px;
    max-width: 960px;
    height: 9vh;
    min-height: 50px;
    min-width: 1349px;
    padding: 1rem;
}
.dropdown {
    font-family: 'Exo 2', sans-serif;
    color: aliceblue;
    display: grid;
    margin-right: 0cm;
    margin-top: -15px;
}
.icon {
    position: absolute;
    top: 13px;
    left: 1rem;
}
.titulo {
    margin-left: 35px;
    margin-top: 0px;
}
h1 {
    font-family: 'Exo 2', sans-serif;
    color: black;
    max-width: 1000px;
    margin-left: 170px;
    margin-right: 100px;
    font-size: 2.5rem;
    line-height: 1;
    text-align: center;
    padding: 5px;
}
h2 {
    font-family: 'Exo 2', sans-serif;
    color: white;
    max-width: 1000px;
    margin-left: 170px;
    margin-right: 100px;
    font-size: 4rem;
    line-height: 5;
    text-align: center;
    padding: 5px;
}
h3 {
    color: white;
    max-width: 1000px;
    font-size: 15px;
    line-height: 5;
    text-align: center;
    padding: 5px;
}
h4 {
    font-family: 'Exo 2', sans-serif;
    color: black;
    max-width: 1000px;
    margin-left: 1px;
    margin-right: 100px;
    font-size: 20px;
    line-height: 1;
    text-align: left;
    padding: 5px;
}
.items {
    background-color: lavender;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    display: grid;
    color: dodgerblue;
}
.parrafo {
    font-family: monospace;
    color: darkslategray;
    text-align: center;
}
.pnav {
    color: rgb(27, 29, 29);
    max-width: 1000px;
    margin-left: 250px;
    margin-right: 10px;
    font-size: 25px;
    padding: 5px;
    text-align: justify;
}
.navbar-brand {
    margin-left: 0px;
}
.img {
    background: white;
}
.contenido {
    background: rgba(33, 53, 70, 0.753);
}
.contenido2 {
    background: rgba(33, 70, 55, 0.753);
}
.contenido3 {
    background: rgba(70, 78, 50, 0.753);
}
.contenido4 {
    background: rgba(68, 85, 87, 0.753);
}
.contenido5 {
    background: rgba(65, 44, 52, 0.753);
}
.contenido6 {
    background: rgba(44, 51, 65, 0.753);
}
.card {
    width: 70%;
    margin: 1cm;
    margin-left: 60px;
    margin-right: 100px;
}
.footer {
    color: black;
    background: black;
}